<div class="contenedor">
  <div class="alert alert-success container-login">
    <h1>Bienvenido <%= nombre %></h1>
    <button
      class="btn btn-warning float-right mt-2"
      onclick="location.href='/logout'"
    >
      Desloguear
    </button>
  </div>
  <h1 class="title-vista">Vista del Ecomerce a construir</h1>
</div>
