<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <%- include("../partials/body"); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
